@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <title>Index</title>
    <link rel="stylesheet" href="~/Resources/css/css_index.css"/>
    <link rel="stylesheet" href="~/Resources/css/css_fonts.css"/>  
    <style>

        span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            box-sizing: border-box;
        }                
        
    </style>

</head>
<body>
    <div class="topo-site">
        <nav class="topo-menu">
            <ul class="menu">
                <li style="" class="item-menu">
                    <a class="link-item-menu" href="">QUEM SOMOS</a>
                </li>
                <li class="item-menu">
                    <a class="link-item-menu" href="">SERVIÇOS</a>
                </li>
                <li class="item-menu">
                    <a class="link-item-menu" href="">CONTATO</a>
                </li>
            </ul>
        </nav>
    </div>
    <section class="painel painel-1">
        <div class='table-cell'>
            <header class="conteudo-painel1">
                <h1 class="thin fs-100 ff-lato">Gabriel Ritter</h1>
                <div style="margin-top:40px;">
                    <h2 class="thin ff-lato">Desenvolvedor</h2><br>
                    <h3 class="thin ff-josefin">&</h3><br>
                    <h2 class="fs-20 ff-petit">Web Designer</h2>
                </div>
            </header>
            <span class="arrow"></span>
        </div>
    </section>
    <section class="painel painel-2">        
        <header class="conteudo-painel2">
            <h1 class="thin spacing-8 gray fs-70 mgt-50">QUEM SOMOS</h1>                    
        </header>            
        <article class="somos-article">
            <p class="thin gray ff-segoe fs-20 mg-auto ta-justify" style="line-height:1.7;">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel magna velit. Vestibulum sed turpis accumsan,
                tristique lorem a, feugiat nisi. Suspendisse in diam non tellus auctor dignissim nec dapibus mi. Sed quam nulla, pellentesque sed sagittis at,
                dapibus non lectus. Pellentesque semper mi libero, nec dignissim leo hendrerit eu. Vestibulum non risus at ante auctor gravida. Fusce odio
                orci, dictum sit amet egestas id, auctor a elit.
            </p>
        </article>
        <div>

        </div>
        
    </section>
    <section class="painel painel-3">
        <div class='table-cell'>
            <header>
                
            </header>
            <form style="text-align:center" method="post" action="">                
                <input type="text" placeholder="Nome"><br>
                <input type="email" placeholder="Email"><br>
                <input type="textarea" placeholder="Comentários"><br>
                <input type="submit">                                
            </form>
        </div>
    </section>		
</body>
</html>
